@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
html {
  scroll-behavior: smooth;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  padding-left: 9%;

}

.home9Main {
  margin-top: 5%;
  width: 100%;
  height: 400px;
  padding-top: 15%;
  padding-right: 6%;
}

.home9Main1Img {
  float: left;
  width: 13%;
  height: auto;
}


.home5Main1Img {
  float: left;
  width: 53%;
  height: auto;
  padding-top: 9%;
  padding-left: 9%;
  padding-right: 9%;

}
.home5Main7Img {
  width: 53%;
  height: auto;
  padding-top: 9%;
  padding-left: 9%;
  padding-right: 9%;

}

.home5Main {
  margin-top: 5%;
  width: 100%;
  height: 400px;
  padding-top: 13%;
  padding-right: 1%;
}

.home5Main1Img {
  float: left;
  width: 13%;
  height: auto;
}
.crop-container-lillys {

  overflow: hidden;
}
.crop-container-lillys img {
  margin-top: -30px;
}
.custom-img {

  background-image: url('/darkerPAttern.png');

}
.zoom {
  padding: 5px;
  transition: transform .2s; /* Animation */

  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom_arrow {
  transition: transform .2s; /* Animation */
  padding-left: 30%;
  padding-right: 25%;

}
.zoom_arrow1 {
  transition: transform .2s; /* Animation */
  padding-left: 65%;

}
.zoom_arrow:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom_arrow1:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.similar { 
  float:left; 
  width:200px; 
  clear:both;
  }

/* .headerFont {
  font-size: '1.5rem';
  line-height: '2rem';
  text-align: 'center';
  padding: '2';
  font-family: 'Josefin Sans', cursive; 
} */